{{#if isWaiting}}
   {{waiting-for-token emailAddress=emailAddress}}
{{else}}
  <form {{action 'authenticate' on='submit'}}>
    {{input id='emailAddress' placeholder='Email' value=emailAddress class="userInput"}}
    <button type="submit">Login</button>
  </form>
{{/if}}

{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}}
