<h2>Authenticate with Authlink</h2>
<img src="images/spinner.gif" width="100" height="100"/>
<p>Use <a href="https://www.authlink.net">authlink.net</a> to quickly authenticate yourself without passwords.
<br/>
Simply go to your Authlink App and approve the authentication request.</p>

<p>New to Authlink? Download from the <a href="#">App Store</a> and register <em>{{emailAddress}}</em>.</p>