
.task {
    border-bottom: thin solid #eeeeee;
    margin-top: 10px;
}

.task-text {
  margin-bottom: 10px;
  border: none;
}

.task input[type=text]{
  border: 1px solid #fff;
}
.task input[type=text]:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox].css-checkbox + label.css-label, input[type=checkbox].css-checkbox + label.css-label.clr {
  padding-left:25px;
  height:20px;
  display:inline-block;
  line-height:30px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:20px;
  vertical-align:middle;
  cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label, input[type=checkbox].css-checkbox + label.css-label.chk {
  background-position: 0 -20px;
}
label.css-label {
        background-image:url(../images/checkbox.png);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

.logo-text {
  margin-left: 10px;
}

.navbar {
 margin-top: 2%;
 margin-bottom: 5%;
}

.userInput {
  width: 280px;
}
