<div class="container">

<div class="navbar">
  <img src="images/logo.png" height="64" width="64">
  <span style="float: right">
  {{#if session.isAuthenticated}}
    Hello {{session.data.authenticated.username}} <a {{action 'logout'}}>Logout</a>
  {{else}}
    {{#link-to 'login'}}Login{{/link-to}}
  {{/if}}
  </span>
</div>

{{outlet}}

</div>

