    <div class="row">

      <div class="three columns">
        <div>Shopping List</div>
        <div>Geschenke</div>
        <div style="margin-top: 5%"><a href="#">Add List</a></div>
      </div>

      <div class="nine columns">
        <h5>Shopping List</h5>

        {{#each model as |task|}}
        <div class="task">
          <span><input type="checkbox" id="checkbox-{{task.id}}" class="css-checkbox"><label for="checkbox-{{task.id}}" class="css-label"></label></span>
          <span><input type="text" value="{{task.name}}" class="task-text"></span>
        </div>
        {{/each}}

        <form>
        <div class="row" style="margin-top:10px">
              <div class="eight columns">
            <input type="text" style="width: 100%" placeholder="Add Task">
            </div>
              <div class="four columns">
            <input type="submit" class="button-primary" value="Create">
            </div>
        </div>
        </form>

        <div>
          <a href="#">Show completed tasks</a>
        </div>

      </div>


    </div>
 